/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
.header {
    background-color: #800000;
    color: white;
    padding: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 50px;
}
.navButton{
    color:white;
    text-decoration: none;
    font-size:20px;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilos para el contenedor del logo */
.logo-container {
    display: inline-block;
}

/* Estilos para el logo */
.logo {
    max-width: 100px;  /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    border-radius: 150%;
}


/* Sección principal */
.main {
    display: flex;
    justify-content:space-between;
    margin: 20px;
}

.about, .services, .contact {
    background-color: white;
    border: 10px solid #ccc;
    padding: 20px;
    border-radius: 50px;
    width: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 33%;
}

h2 {
    color: #800000;
}

/* Sección de propiedades */
.properties {
    margin: 20px;
    text-align: center;
}

.property {
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.property img {
    width: 100%;
    border-radius: 5px;
}

.property h3 {
    color: #800000;
    margin: 10px 0;
}

/* Pie de página */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
